@{
    ViewBag.Title = "Configuration Data returned from Spring Cloud Config Server";
}
<h2>@ViewBag.Title.</h2>

<h4>Property Organization Name= @ViewBag.OrgName</h4>
<h4>Property Author= @ViewBag.Author</h4>
